<div class="article">
  <h2><%= article.title %></h2>
  <p><em>Publié le <%= article.date.getDate() %>/<%= article.date.getMonth() + 1 %>/<%= article.date.getFullYear() %></em></p>
  <% if (article.img) { %>
    <!-- Image principale affichée en mode habillage texte -->
    <img src="<%= article.img %>" alt="<%= article.alt %>" class="text-wrap">
  <% } %>
  <div class="content">
    <%- article.content %>
  </div>
  <div class="clear"></div>
</div>